package omdbview

import "github.com/eefret/gomdb"
import "github.com/aravance/mkv-ripper/view/movie"

templ Search(movies []*gomdb.MovieResult) {
	<div class="list-group">
		for _, m := range movies {
			<button class="list-group-item list-group-item-action" type="submit" name="imdbid" value={ m.ImdbID }>
				<div>
					@movieview.Movie(m)
				</div>
			</button>
		}
	</div>
}
