package omdbview

import "github.com/eefret/gomdb"
import "github.com/aravance/mkv-ripper/view/movie"

templ Search(movies []*gomdb.MovieResult) {
	for _, m := range movies {
		@movieview.Movie(m)
	}
}
