package omdbview

import "github.com/eefret/gomdb"
import "github.com/aravance/mkv-ripper/view/movie"

templ Show(movies []*gomdb.MovieResult) {
	<div>
		for _, m := range movies {
			@movieview.Movie(m)
		}
	</div>
}
