package movieview

import "fmt"
import "github.com/eefret/gomdb"

templ Movie(m *gomdb.MovieResult) {
	<div>
		<img src={ m.Poster } alt="movie poster" class="float-start p-1 w-25"/>
		<a href={ templ.SafeURL(fmt.Sprintf("https://www.imdb.com/title/%s", m.ImdbID)) }>
			{ m.Title }
		</a>
		<p>
			Year: { m.Year }
		</p>
	</div>
}
